.table {
    margin-top: 20px;
    height: 83vh;
    overflow: hidden;
    color: gray;
    overflow-y: scroll;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr td {
    padding: 5px;
}

.table tr:nth-of-type(odd) {
    background-color: lightgrey;
}

@media (max-width: 630px) {
    .table {
        margin-top: 20px;
        height: 50vh;
        overflow: hidden;
        color: gray;
        overflow-y: scroll;
    }
}