.checkout {
    display: flex;
}

.checkout__left {
    width: 80%;
}

/* .checkout__right {

} */

.checkout__message {
    background-color: rgb(65, 41, 63);
    padding: 10px;
    color: white;
    text-align: right;
    margin-bottom: 10px;
}

.checkout__message p {
    font-size: 18px;
    font-weight: bold;
}

.checkout__title h1 {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(209, 140, 140);
}

.checkout__emptyCart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}