.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(105, 105, 105);
  cursor: pointer;
}

.headerOption__icon {
  object-fit: contain;
  height: 28px !important;
  width: 28px !important;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}
